<div id="<%= dom_id robot_report %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= robot_report.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this robot report", robot_report, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
