<div class="container mx-auto mt-8 w-full">
  <%= form_with url: "/dashboard/compare", method: :get do |form| %>
    <div class="flex items-center space-x-4">
      <div class="w-1/2">
        <%= render "csv_files/select", form:, csv_files: @csv_files %>
      </div>

      <div class="w-1/2">
        <label for="robot_report_id" class="block text-m font-medium text-gray-700">Robot Report</label>
        <%= form.select :robot_report_id, options_for_select(@robot_reports.map { |robot_report| [robot_report.name, robot_report.id] }, params[:robot_report_id]), {}, {class: "mt-1 block w-240 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300"} %>
      </div>
    </div>

    <div class="items-center space-x-4 text-center mt-3" id="compare-button-container">
      <button type="submit" class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300" id="compare">
        Compare
      </button>

      <% if params[:action] == "compare" %>
        <%= link_to "Download .csv", compare_path(**request.query_parameters, format: "csv"), class: "text-blue-600" %>

        <button id="copy-button" class="text-blue-600">Copy URL</button>
        <span id="current-url" class="hidden"></span>
      <% end %>
    </div>
  <% end %>
</div>

<script type="application/javascript">
  document.getElementById('current-url').innerText = window.location.href;

  document.getElementById('copy-button').addEventListener('click', function() {
    var currentUrl = document.getElementById('current-url');

    // Create a temporary input element
    var tempInput = document.createElement('input');
    document.body.appendChild(tempInput);
    tempInput.value = currentUrl.innerText;

    // Select the text in the input element
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); /* For mobile devices */

    // Copy the text to the clipboard
    document.execCommand('copy');

    // Remove the temporary input element
    document.body.removeChild(tempInput);

    // Alert or provide feedback that the URL has been copied
    alert('URL copied to clipboard: ' + currentUrl.innerText);
  });
</script>
