<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Upload CSV File</h1>

  <%= render "form", csv_file: @csv_file %>

  <%= link_to "Back to CSV files", csv_files_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

  <%= link_to "Back to Dashboard", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
